xmlassignment3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="document">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="author" type="xs:string"/>
      <xs:element name="size" type="xs:string"/>
	  <xs:element name="pages" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
